| Level | Meaning |
| ------|---------|
| <%= color_code_health(3) %> | The KPI is at an acceptable level compared to the threshold |
| <%= color_code_health(2) %> | This is a blip, or we’re going to watch it, or we just need to enact a proven intervention |
| <%= color_code_health(1) %> | We'll prioritize our efforts here |
| <%= color_code_health(0) %> | Unknown |
