We have a [metrics dashboard](https://app.periscopedata.com/app/gitlab/570334/Universal-Engineering-Team-Metrics-Dashboard) to help us stay on track with [Development KPIs](/handbook/business-ops/data-team/metrics/#development-department-kpis) (Make sure you filter by our team at the top!) This dashboard does not include security MRs from `dev.gitlab.org`, but does include security MRs from production.

<embed width="49.7%" height="300" src="<%= signed_periscope_url(dashboard: 561630, chart: 7421163, embed: 'v2') %>"><embed width="49.7%" height="300" src="<%= signed_periscope_url(dashboard: 561630, chart: 7421174, embed: 'v2') %>">
